.carousel-container {
  position: relative;
  width: 100%;
  height: 300px; /* Set the desired height */
}

.custom-button {
  position: absolute;
  top: 20px; /* Adjust the vertical position */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}